@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://rsms.me/inter/inter.css');

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    font-size: 8px;

    /* COLOURS*/
    --blue100: #16146D;
    --blue200: #302E96;
    --blue300: #6563CF;
    --blue400: #9A98EC;
    --white: #ffffff;
    --grey: #5E6069;
    --sec-txt: #2D2E33;
    --prim-txt: #171823;
    
}
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

/* STYLING CLASSES IN HTML */
.uppercase {
    text-transform: uppercase;
}
.regular {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.extrabold {
    font-weight: 900;
}

/* HEADINGS, PARAGRAPHS, etc. */
h1, h2, h3, h4, h5, h6 {
    font-family: Syne, Inter, sans-serif;
}
p {
    font-family: inter;
}

h1 {
    font-size: 16rem;
}

/* MISC */
.logo {
    font-family: Syne, Inter, sans-serif;
    font-size: 3rem;
}

/* ---------------- COMPONENTS ---------------- */
/* Button */
.btn {
    padding: 2rem 3rem;
    display: flexbox;
    text-decoration: none;
}

.bg-blue {
    background-color: var(--blue200);
    color: var(--white);
}